/* Estilo para el título */
.titulo-formulario {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilo para el texto descriptivo */
  .descripcion-formulario {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  